@charset "UTF-8";

body{
    position: relative;
width: 1440px;
height: 1024px;

background: radial-gradient(50% 50% at 50% 50%, #5E032D 0%, #1F0010 100%);
}
#logo{
position: absolute;
width: 483px;
height: 540px;
left: 589px;
top: 270px;
background: url(../IMG/imageuno.png);
}
#BT1{
    
    position: absolute;
    width: 262.65px;
    height: 58.37px;
    left: 700px;
    top: 850px;
    
    border-radius: 20px;

}