@charset "UTF-8";

body{
    position: relative;
width: 1440px;
height: 1024px;

background: radial-gradient(50% 50% at 50% 50%, #5E032D 0%, #1F0010 100%);
}
#BT7{
    

    position: absolute;
    width: 1347px;
    height: 757px;
    left: 57px;
    top: 47px;

}
#BT8{
    position: absolute;
    width: 41px;
    height: 43px;
    left: 1138px;
    top: 51px;

}
#BT9{
    position: absolute;
    width: 41px;
    height: 45px;
    left: 1276px;
    top: 52px;
}
#BT10{
    position: absolute;
width: 75px;
height: 55px;
left: 1198px;
top: 40px;

}