@charset "UTF-8";

body{
    position: relative;
width: 1440px;
height: 1024px;

background: radial-gradient(50% 50% at 50% 50%, #5E032D 0%, #1F0010 100%);
}
#inicio{
    position: absolute;
width: 749px;
height: 688px;
left: 352px;
top: 106px;
background: url(../img/grupodieciseisinicio.png);
}
#BT2{
    position: absolute;
width: 268px;
height: 57px;
left: 605px;
top: 823px;
}
